body {
  background-color: #202031;
  margin: 0px;
  border: 4px solid #323232;
}

#myCanvas {
  display: inline-block;
  margin-left: -4px;
}

#listTitle {
    margin-bottom: 0px;
    background-color: #6464c8;
    padding: 4px;
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color:white
}

.toolbar {
  width:100%;
  height:50px;
  background-color: #384b6a;
}

#addWidth, #addHeight {
  width:32px;
  font-size: 12px
}

#addName {
  width:70%;
}

#buttonList {
  display: inline-block;
  width: 200;
  height:100%;
  margin: 0px;
  background-color: #394b6a;
  padding:2px;
  padding-left:10px;
  vertical-align: top;
}

#buttonList ul {
  list-style: none;
  padding: 0px;
  height: 160px;
  overflow-y: scroll;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10;
  background-color: #8c9ead;
}

#buttonList li {
  height: 32px;
    margin: 1px;
    background-color: #ffffff;
    color: #393939;
    font: menu;
    font-size: 16;
}

#buttonList li:hover{
  margin-left: 8px;
}

#addButtons {
  background-color: #8c9fad;
  padding: 10px;
  margin-right: 10px;
  color: #263247;
  font-family: sans-serif;
  font-size: 14px;
}

#addButtons p {
  margin-top: 0px;
  margin-bottom: 5px;
}

#add {
  border: 0px;
  background-color: #f75111;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 7px;
  color: white;
  margin-top: 4px;
  margin-left: 90px;
}

#add:hover {
  background-color: #ff8711
}

.colorTag {
  width:25px;
  height: 100%;
  display: inline-block;
}

.label {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.deleteBtn {
  float: right;
  background-color: #E15119;
  color: white;
  border: none;
  border-radius: 0 0 0 3px;
  padding: 0 4px 1px 6px;
}
.deleteBtn:hover {
  background-color: #CCCCCC;
}

#buttonList ul::-webkit-scrollbar {
    width: 3px;
    background-color:grey;
}

#buttonList ul::-webkit-scrollbar-thumb {
  background-color:white;
}
